# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Eclipse project files
.cproject
.project
.settings/**
Debug/**
Release/**

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
main
/Debug/
/Aplica.cpp
/Aplica.h
/Asignatura.cpp
/Asignatura.h
/Carrera.cpp
/Carrera.h
/DataEstudiante.cpp
/DataEstudiante.h
/DataOferta.cpp
/DataOferta.h
/DTAplicacion.cpp
/DTAplicacion.h
/DTAsignaturaSalvada.cpp
/DTAsignaturaSalvada.h
/DTCarrera.cpp
/DTCarrera.h
/DTEmpresa.cpp
/DTEmpresa.h
/DTEstudiante.cpp
/DTEstudiante.h
/DTOferta.cpp
/DTOferta.h
/DTSeccion.cpp
/DTSeccion.h
/DTSucursal.cpp
/DTSucursal.h
/FullDTOferta.cpp
/FullDTOferta.h
/ICtrlDual.h
/ICtrlOfertaLaboral.h
/IObserver.h
/IStrategy.h
/OfertaLaboral.cpp
/OfertaLaboral.h
/Seccion.cpp
/Seccion.h
/Sucursal.cpp
/Sucursal.h
